# The Polynomial Time Complexity Class (P)

## Summary

This python notebook is a detailed review on **The Polynomial Time Complexity Class**. The Time Complexity Class is an important concept in computer science and particularly when concerned with the implementation of algorithms. **Time complexity** is a way of comparing run times of algorithms in code, and there optimising and making code as efficent as possible.

There are mupltiple time complexity types. However in this notebook we will focus on one; Polynomial time complexity,we will also loom at a major unsolved problem in theoretical computer science "**The P versus NP problem**", and all other aspects of time complexity that will help us to understand this concept.

## Introduction

The following is some basic knowlegde that is needed to understand the basics of the theory of algorithms. This knowledge is the basic building blocks of what we need to know to understand the rest of this notebook;

### Sets

In computing theory, a set is an **abstract data type** that includes a collection of distinct elements. Sets are used to model many different types of problems and **data structures**, including databases, hash tables, and graphs. In this notebook we will be using sets in Python.

Sets have unique advantages for solving problems in computer science:

- Order: Sets do not have a specific order. The elements in a set are not arranged in any specific way. For example, the set {1, 2, 3} does not have a first element or a last element.
- Membership: A set can hold any type of element, as long as the elements are distinct.
- Operations: Sets are operable. It is possible to interact with them using set theory(union, intersection, difference)
- Uniqueness: Sets only contain distinct elements and therefore duplicates do not exist within set theory.

In [5]:
# Create a set
set = {2, 4, 6, 8}
print(set)   # {1, 2, 3, 4}

{8, 2, 4, 6}

In [6]:
# Add an element to a set
set.add(10)
print(set)

{2, 4, 6, 8, 10}

In [8]:
# Remove an element from a set
set.remove(2)
print(set)   # {1, 2, 4, 5}

{4, 6, 8}

##### Set Operations

In [12]:
# create two sets
setone = {1, 2, 3}
settwo = {2, 3, 4}

*Union Example:*

In [13]:
# Returns a set containing all the elements in both sets
print(setone.union(settwo))

{1, 2, 3, 4}

*Intersection Example:*

In [14]:
# returns a set containing the common elements in both sets
print(setone.intersection(settwo))

{2, 3}

*Difference Example:*

In [15]:
# returns a set containing the elements in set1 that are not in set2
print(setone.difference(settwo))

{1}

*Subset Example:*

In [16]:
# checks if set1 is a subset of set2
print(setone.issubset(settwo))

False

*Superset Example:*

In [18]:
# checks if set1 is a superset of set2
print(setone.issuperset(settwo))

False

### Tuples

A tuple is an **ordered, immutable sequence of elements** that contains any combination of data types. Tuples are usually used in computing to represent a *fixed set* of related data. In this notebook we will be using Tuples in python.

Sets also offer there own unique advantages for solving problems in computer science:

- ordered: Tuples are ordered and maintain their order until their last instance in a program.
- Flexible: Tuples can contain any data type, including numbers strings lists and other tuples.
- Immutable: Once a tuple is created it is not editable, you can add delete or reorder that tuple, you must create another.

In [21]:
# create a tuple of integers
t = (2, 4, 6, 8, 10)

# create a tuple of mixed data types
t2 = (27, "Hello", [2, 4, 6], {"name": "Alan", "age": 50})

##### Accessing Tuples

In [22]:
# access first element
print(t[0])

# access last element
print(t[len(t) - 1])

2
10

##### Tuple Operations

In [23]:
# create two tuples
t1 = (1, 2, 3)
t2 = (4, 5, 6)

*Concat tuples:*

In [25]:
t3 = t1 + t2

print(t3)

(1, 2, 3, 4, 5, 6)

*Slicing tuples:*

In [26]:
t2 = t[0:3]

print(t2)

(2, 4, 6)

*Membership testing tuples:*

In [27]:
t = (1, 2, 3, 4, 5)

- *check if the element 3 is present in the tuple:*

In [28]:
print(3 in t)

True

- *check if the element 6 is present in the tuple*

In [29]:
print(6 in t)

False

### Strings

A String is a **sequence of characters** in computing commonly used for a variety of different types of tasks like; store data or gather user input, show user output or else communicate with external programs. In this notebook we will be using Strings in python.

Strings also offer there own unique advantages for solving problems in computer science:

- Concatenation: Strings can be added togther in different ways to produce a a larger, singular string.
- Slicing: 
- Length: 
- Case conversion:

### References